.anton{
    font-family: 'Anton', sans-serif
}
.play{
    font-family:  'Play', sans-serif
}
#user-list{
    position: fixed;
    left: 0%;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(255, 0, 255, 0.06)
}
#Urban-logo{
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
    transform: scaleY(1.5);
    -o-transform: scaleY(1.5);
    -moz-transform: scaleY(1.5);
    -webkit-transform: scaleY(1.5);

}
#Oxford-logo{
    transform: scaleY(.65);
    -o-transform: scaleY(.65);
    -moz-transform: scaleY(.65);
    -webkit-transform: scaleY(.65);
}
#hangman{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 0;
    z-index: 1;
    padding: 0;
    height: 30%;
}
#hangman-svg{
    height: 100%;
}
#letter-buttons{
    position: relative;
    z-index: 0;
    padding: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}
#waiting-text{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.menu-label{
    text-decoration: underline
}
.chat-container{
    position: absolute;
    right: 0%;
    padding: 0;
    background-color:  rgba(255, 0, 255, 0.06)
}
.screen{
    position: relative;
    top: 0;
    z-index: 1;
    /* height: 25%; */
    width: auto;
    margin: 0 0;
    border: 4px outset silver;
    height: 100%;
    overflow: hidden;
}
.screen .columns{
    height: 100%;  
}
.screen::before{
 
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    background-attachment: fixed;
    pointer-events: none;
}
.screen::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}
#word-form{
    position: relative;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: 10px;
}
#word-form .label{
    border-radius: 10px;
}
#word-form-header{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center
}
#hint{
    height: 100px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0
}
.messages-container{
    position: fixed;
    top: 30%;
    margin: 0px 0%;
    margin-bottom: 10%;
    width: 75%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 60%;
    z-index: 1;
    border-radius: none;

}
.message-sender-right{
    display: none
}
.message-sender-left{
    position: relative;
    left: 0%;
}
.timestamp-right{
    position: relative;
    /* left: 92.5%; */
    float: right;
}
.timestamp-left{
    position: relative;
    float: left;
}
.speech-bubble-right {
    position: relative;
    left: 70%;
    width: 30%;
	background: #3D9100;
    border-radius: .4em;
}
.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #3D9100;
	border-right: 0;
	border-bottom: 0;
	margin-top: -3px;
	margin-right: -6px;
}
.speech-bubble-left {
    position: relative;
    left: 0%;
    width: 30%;
	background: #C26EFF;
    border-radius: .4em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-right-color: #C26EFF;
	border-left: 0;
	border-bottom: 0;
	margin-top: -3px;
	margin-left: -6px;
}
.list-item.chat-message{
    border: none
}
.user-list-item:not(:last-child){
    border-bottom: 1px solid #3D9100
}
#message-form{
    position: fixed;
    width: 80%;
    bottom: 0%;
    z-index: 5;
    background-color: rgba(0, 0, 255, 0.05)
}
.bold{
    font-weight: bold
}
.message-text {
    padding: 5%;
    word-wrap: break-word;
    font-weight: bold
}
.list-item{
    margin-top: 1.5%;
}
.navbar-burger{
    position: fixed;
    top: 1%;
    left: 1%;
    display: none
}
#chat-button{
    position: fixed;
    top: 4%;
    right: 6%;
    display: none
}
#score{
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 10;
}
#score span{
    position: relative;
}
#error-message{
    position: relative;
    z-index: 5;
}
.glow{
    border: 1px solid #3D9100
}
.fa-comment.new{
    color: #C26EFF;
}
.fa-crown{
    color: gold
}
.fa-brain{
    color: pink
}
.fa-star{
    color: silver
}
#small-screen-toggler{
    margin-left: 10px;
    position: relative;
    z-index: 10;
}
@media only screen and (max-width: 768px){
    .speech-bubble-left, .speech-bubble-right{
        width: 70%;
    }
    .speech-bubble-right{
        left: 30%;
    }
    .timestamp-right{
        float: right;
    }
    .chat-container{
        z-index: 1
    }
    #message-form{
        width: 100%;
        bottom: -2%;
    }
    #user-list{
        display: none;
        z-index: 2;
        background-color: #3e3444
    }
    #user-list.is-active{
        display: block;
        z-index: 5;
        opacity: 1;
    }
    .navbar-burger{
        display: block;
        z-index: 5; 
    }
    #chat-button{
        display: block;
        z-index: 5;
    }
    #hangman{
        left: 0;
        height: 89%
    }
    .messages-container{
        width: 100%;
        display: none;
        
    }
    .messages-container.is-active{
        display: block;
        z-index: 6;
    }
    #hangman-svg{
        height: 40%;
        width: 40%;
        margin-bottom: -10%;
    }
   
    #word-form-header{
        margin-bottom: -20%;
    }
    #word-form{
        margin-top: -30%
    }
    .screen::before{
        background-attachment: fixed;
    }
    #hint{
        height: 120px;
        
    }
    #score{
        position: absolute;
        z-index: 10;
    }
    #info-text{
        position: relative;
        top: -10px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center
    }
    #word-container{
        position: relative;
        top: -6vh
    }
    #letter-buttons{
        margin-top: -10%
    }
}

@media only screen and (max-width: 400px){
    #word-container{
        top: -9vh
    }
    #letter-buttons{
        margin-top: -20%;
    }
    #message-form{
        bottom: -3%
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #hangman-svg{
        width: 75%
    }
}
@media only screen
and (min-width: 781px)
and (max-width: 991px){
    #hangman{
        height: 50%;
        
    }
    .messages-container{
        height: 40%;
        top: 50%;
        
    }
    #hangman-svg{
        position: absolute;
        left: 0;
        width: 20%;
    }
    #waiting-text{
        position: absolute;
        right: 0;
    }
    #letter-buttons{
        display: flex;
        display: -webkit-flex;
        align-items: center
    }
}